.main-page {
    animation: fadeIn 1.5s ease-in-out;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
  }
  .banner {
    background: url('/images/associate1.jpg') no-repeat center center/cover;
    height: 300px;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
  }
   .overlay {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    width: 100%;
    height: 100%;
  }
  .banner h1 {
      margin: 0;
      font-size: 40px;
      font-weight: bold;
      position: absolute;
      bottom: 130px;
      left: 80px;
      font-weight: bold;
      text-shadow: 2px;
  }
  .introduction-section {
    padding: 60px 20px;
    background-color: #F5F5F5;
  }
  .introduction-grid {
    display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 60px;
      align-items: flex-start;
      justify-content: center;
      max-width: 1200px;
      margin: auto;
  }
  .introduction-images {
    flex: 1 400px;
      max-width: 500px;
      padding: 30px;
  }
  .introduction-images img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  .introduction-text {
    flex: 2;
    text-align: justify;
    font-size: 20px;
  }
  .introduction-text h2 {
    color: #002B5B;
    font-size: 2rem;
    margin-bottom: 30px;
    border-bottom: 2px solid #C509B5;
    display: inline-block;
    margin-bottom: 4px;
  }
  .bottom-section {
    padding: 40px;
    background-color: #999;
  }
  .bottom-section h2 {
    font-size: 2rem;
    color: #002B5B;
    border-bottom: 3px solid #C509B5;
    display: inline-block;
    margin-bottom: 20px;
  }
  .bottom-content {
    display: flex;
    gap: 40px;
  }
  .bottom-list {
    flex: 1;
    list-style: none;
    padding-left: 0;
  }
  .bottom-list li {
    padding: 10px 0;
    position: relative;
    padding-left: 25px;
  }
  .bottom-list li::before {
    content: '✦';
    position: absolute;
    left: 0;
    color: #C509B5;
  }
  .bottom-image {
    display: flex;
    height: auto;
    max-height: 400px;
    object-fit: cover;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 8px;
  }
  .bottom-image img {
    max-width: 400px;
    width: 80%;
    height: auto;
    border-radius: 8px;
  }